= form_for(craft) do |f|
  .message_errors
  -if craft.is_changed? && craft.commit_message.blank?
    - message = nil
  -else
    - message = craft.commit_message
    - message ||= commit.message
  = text_area_tag :message, message, :rows => 5, :cols => 50
  .small hit tab or click outside the textbox to update
  .small (iPad users, close the keyboard)
