= form_for(craft) do |f|
  .message_errors
  - message = commit.message
  - message = craft.commit_message if craft.commit_message.nil?
  - message = craft.commit_message if craft.is_changed?
  = text_area_tag :message, message, :rows => 5, :cols => 50
  .small
    hit tab or click outside the textbox to update
