#craft_page
  #nav-box
    =link_to "return to campaign", campaign_path(@craft.campaign)
  .grid_12
    - history = @craft.history
    = hidden_field_tag :craft_id, @craft.id
    %h1= @craft.name


  .clear
  .vblk_3
  - unless @craft.deleted?
    .grid_10.push_1
      %h3 Version History
      #history_list
        Loading craft History

    :javascript
      $(function(){poll_craft_version()});

  -else
    .grid_6.push_3
      .restore_craft
        %h2 This Craft has been deleted!
        %h4 All is lost, will we ever see it again?
        %h4 Oh wait, just click Recover it!
        %h1= link_to "Recover it!", edit_craft_path(@craft)
