- history = @craft.history
= hidden_field_tag :craft_id, @craft.id
%h2= @craft.name
=link_to "return to campaign", campaign_path(@craft.campaign)

%h3 Version History



#history_list
  Loading craft History

:javascript

  $(function(){
    poll_craft_version();
  });
