if("#{defined?(@errors) == nil}" == "true"){
$('.message_form').hide();
restart_appropriate_poller()
}else{
var error = "#{@errors.blank? ? '' : @errors[:update_message].full_messages.join}";
$('.message_errors').html(error);
};
