= form_for(object) do |f|
  - commit_message = commit_messages[commit.to_s]
  .message_errors
  -if is_changed && commit_message.blank?
    - message = nil
  -else
    - message = commit_message
    - message ||= commit.message
  - message ||= ""
  = text_area_tag :message, message.gsub("<br>", "\r\n"), :rows => 5, :cols => 50
  .small hit tab or click outside the textbox to update.  (iPad users, close the keyboard)
  .small hit escape to cancel
  .updating_message.hidden
    .vblk_1
    updating commit message...
    .ajax_loader
