- if !defined?(@errors)
  $('.message_form').hide();
  $('.message_form').dialog();
  //if($(".message_form").hasClass("ui-dialog")) {
  $(".message_form").dialog("destroy");
  //}
-else
  var error = "#{@errors.blank? ? '' : @errors[:update_message]}";
  $('.message_errors').html(error);
