- if !defined?(@errors)
  var div = "#{@holder}"
  $(div).hide();
  $(div).dialog();
  $(div).dialog("destroy");
  $(div).parents('.message').find(".message_text").append("<br/>updating<div class='left ajax_loader'></div><div class='clear'></div>")
-else
  var error = "#{@errors.blank? ? '' : @errors[:update_message]}";
  $('.message_errors').html(error);
