if($('#campaigns_list').find(".loading").html() != undefined){
$('#campaigns_list').html("")
}


if("#{@background_process}" != "waiting"){
$('#temp_holder').html("#{j render :partial => 'campaigns/list', :locals => {:instance => @instance, :campaigns => @campaigns, :background_process => @background_process} }");

};





$(function(){poll_for_updated_instance() });
