%h2 Instance
%h3= File.join(JSON.parse(@instance.full_path)).inspect
= hidden_field_tag :instance_id, @instance.id
=link_to "return home", root_path


#campaigns_list
  = render "campaigns/list", :instance => @instance, :campaigns => @campaigns, :discovered_campaigns => @discovered_campaigns
