#error_xxx
  - content_for :title do
    Error 500

  .large_code_background
    500
  .absolute_content
    .grid_12.vblk_2

    .grid_10.push_1
      %h1 Awfully sorry about that.  Something went wrong!


    #exception_message.hidden
      .grid_12.push_1.backtrace
        = @exception.inspect
        - @exception.backtrace.each do |line|
          .small.line=line

:javascript
  $(function(){
    $('.clamp_holder').hide()
    $('#error_content').html($('#exception_message').html())
  });
