#error_xxx.grid960
  - content_for :title do
    Error 503

  .large_code_background
    BETA
  .absolute_content
    .grid_12.vblk_2

    .grid_10.push_1
      %h1 BETA features are not enabled
      %p= @exception.message
    .grid_12.vblk_4

    .grid_5.push_1
      %h2
        = link_to "Dashboard", root_path
        |
        = link_to "Help", "/help"
        |
        = link_to "Settings", "/settings"

:javascript
  $(function(){$('.clamp_holder').hide()});
