.inline_errors
  %h2 Sorry, I was could not perform the action you requested!
  %p We've been notified about this issue and we'll take a look at it shortly.


-if Rails.env.eql?("development")
  = @exception.message
  .small
    - @exception.backtrace.each do |line|
      .line=line


- if @exception.respond_to?(:javascript)
  - script = @exception.javascript.sub("<script type='text/javascript'>","").sub("</script>","")
  = javascript_tag("#{script}")
