#error_xxx.grid960
  - content_for :title do
    Offline for upgrades

  .large_code_background
    brb
  .absolute_content
    .grid_12.vblk_2

    .grid_10.push_1
      %h1 The System is currently offline for upgrades
      %p We should be back online again soon.
    .grid_12.vblk_3
