$("#installed_instance_#{@instance.id}").find(".launch_notice").hide()
$("#installed_instance_#{@instance.id}").find(".launch_notice").html("#{@notice}")
$("#installed_instance_#{@instance.id}").find(".launch_notice").show("fast")
