
- preparing ||= nil
= preparing.inspect
.clear
%br

-if preparing
  = preparing.inspect
-else
  -if campaigns.blank?
    %p No Campaigns Discovered in this install yet
    %p Please Wait while I discover them (or wait for you to create one)
  -else
    - campaigns.each do |campaign|
      %h3= link_to campaign.name, campaign_path(campaign)


:javascript
  $(function(){poll_for_updated_instance() });
