if("#{@background_process}" != "waiting"){
$('#campaigns_list').html("#{j render :partial => 'crafts/craft_list', :locals => {:campaign => @campaign} }");

var current_project = $('#content_for_current_project').html()
$('#current_project').html(current_project)

};
