if("#{@background_process}" != "waiting"){
$('#campaigns_list').html("#{j render :partial => 'crafts/craft_list', :locals => {:campaign => @campaign} }");

var current_project = $('#content_for_current_project').html()
$('#current_project').html(current_project)

$('#vab_list').html( $('#content_for_vab_list').html() )
$('#vab_list').parents('.grid_5').show();

$('#sph_list').html( $('#content_for_sph_list').html() )
$('#sph_list').parents('.grid_5').show();

$('#loading_holder').hide();


var show_del = $('#show_deleted').val()
if(show_del == "false"){
$(".deleted_craft").each(function(){$(this).hide()});
$('.show_del_craft_marker').removeClass("selected_marker");
$('.toggle_deleted_craft_link').html("show deleted craft")
}else{
$(".deleted_craft").each(function(){$(this).show()});
$('.show_del_craft_marker').addClass("selected_marker");
$('.toggle_deleted_craft_link').html("hide deleted craft")
};

};

show_help('craft_list_page_first_view', {close: function(){
setTimeout(function(){ show_help('craft_list_page_first_view_basic', {close: function(){
setTimeout(function(){ show_help('craft_list_page_first_view_summary')}, 200);
}}) },200);
}})
