@import variables.sass
@import utils.sass
@import grid960.sass


html
  :background-color $site_white
  :margin 0
  :padding 0
  :width 100%
  :height 100%
  :background
    :color $site_white
    :image url(diagonals-small.png)
    :repeat repeat-x repeat-y
body
  :padding 0
  :margin 0
  :font-family arial, "helvetica neue", helvetica, "lucida grande", sans-serif
  //:font 1em Helvetica, Arial, sans-serif
  :color #666
  :min-width 960px
  :position relative
  :text-align justify


.heading
  :margin 0
  :padding 0
  :color $font-color_heading
  :font
    :weight bold

.label
  :color $font-color_label
  :font-weight bold

h1
  @extend .heading
  :font-size 200%
h2
  @extend .heading
  :font-size 150%
h3
  @extend .heading
  :font-size 120%
h4
  @extend .heading
  :font-size 100%
h5
  @extend .heading
  :font-size 90%
h6
  @extend .heading
  :font-size 60%


a
  :outline none
  :text-decoration none
  :color $link_font_color_normal
  &:hover
    :color $link_font_color_hover
  @extend .highlighted_link



.plain_link
  :padding 0
  &:hover
    :background-color transparent
  :background-color transparent

.highlighted_link
  @extend .plain_link
  &:hover
    :background
      :color $link_back_color_hover
      :filter alpha(opacity=20)
      :opacity 0.2
  +rounded(8px)
  :padding
    :left 0.15em
    :right 0.15em

.dangerous_action_link
  &:hover
    :color $error_font_color

.delete_link
  @extend .dangerous_action_link

.pale_links a
  @extend .highlighted_link
  :color $site_white
  &:hover
    :color $site_low_tone

.plain_links a
  @extend .plain_link

.highlighted_links a
  @extend .highlighted_link

.underline_links a
  :text-decoration underline

.ui-widget-content
  a
    :color $link_font_color_normal

#header
  :position relative
  :background-color $color_header
  :overflow show
  :height 2.5em
  :max-height 2.5em
  @extend .plain_links

  .main_site_title
    @extend .heading
    :color $site_high_tone
    :font-size 200%
    :float left
    :padding
      :left 0.3em

  .description
    @extend .heading
    :color $site_high_tone
    :float left
    :font-size 100%
    :padding
      :left 0.5em
      :top 1em

  .header_rhs
    :position absolute
    :top 0.4em
    :right 0.5em
    :z-index 2000
    :color $site_white
    :font-size 120%
    @extend .pale_links
  +clearfix


  .update_available  
    :float left
    :color $site_high_tone
    :margin-left 0.5em
    :padding-top 0.6em
    :color $site_white
    :font-size 120%
    @extend .pale_links




    
.change_log
  :max-width 800px
  
.title_bar
  &:hover
    :background-color lighten($color_header, 45)
    .inactive_install
      .launch_links
        :border 1px solid green

    .active_install
      .launch_links
        :border 1px solid red      
  :margin 0 auto
  :width 25%
  :margin-top 0.5em
  :text-align center
  :vertical-align middle
  :background-color lighten($color_header, 15)
  +rounded

  .inactive_install
    .launch_links
      :border-bottom none
  .active_install
    .launch_links
      :border-bottom none

  .launch_links
    +rounded

  
#content
  :position relative
  +gradient(#0f1932, #95d3d2)
  :padding-bottom 4em
  :min-height 10em
  +clearfix


#footer
  //@extend .grid960
  :position relative
  :height 112px
  :overflow show
  :text-align center
  :background
    :image url(footer_backgrnd_repeat.jpg)

  .left_image
    :position absolute
    :left -5em
    :width 239px
    :height 112px
    :background
      :image url(footer_left.jpg)

  .right_image
    :position absolute
    :right 0em
    :width 269px
    :height 112px
    :background
      :image url(footer_right.jpg)

  .footer_content
    :position absolute
    :left 37.5%
    :width 25%
    :margin-top 1em
    :color $site_white


.author
  :float right
  :padding-right 1em

.side_divide
  :border-right 1px solid black
  :padding-right 1em


#flash
  :position absolute
  :z-index 100
  :left 37.5%
  :width 25%
  :text-align center
  #notice
    :padding 0.8em
    :border 1px solid $color_header
    :border-top none
    :background-color $flash_notice_color
    +rounded_bottom(0px 0px 32px 32px)


  #alert
    :border 1px solid $color_header
    :border-top none
    :background-color $flash_error_color
    +rounded_bottom(0px 0px 32px 32px)


.clamp_holder
  :margin-left  auto
  :margin-right auto
  :width 1050px
  :position relative

.clamp
  :width 107px
  :height 53px
  :background-color transparent
  :position absolute
  :top 7em

.centered
  :text-align center

.lhs_clamp
  @extend .clamp
  :left -4em
  :background
    :image url(left_clamp.gif)

.rhs_clamp
  @extend .clamp
  :right -4em
  :background
    :image url(right_clamp.gif)

.lhs_clamp_body
  :left -3.8em
  :width 37px
  :height 4000em
  :position absolute
  :top 10em
  :background
    :color transparent
    :image url(girder_section.gif)

.rhs_clamp_body
  :right -3.8em
  :width 37px
  :height 4000em
  :position absolute
  :top 10em
  :background
    :color transparent
    :image url(girder_section.gif)



#search_container
  :z-index 2000
  @extend .clamp
  :right 0em
  :top 0em
  :width 3em
  :height 6em
  :background
    :color $site_high_tone
    :image url(diagonals-small.png)
    :repeat repeat-x repeat-y
    
  +rounded(0px 16px 16px 0px)
  
  .spacer
    :width 0.8em
    :height 2.2em
    +rounded(0px 0px 16px 0px)
  .spacer-color
    :background-color $site_low_tone
  
  .search
    :cursor pointer
    :font
      :size 120%
      :weight bold
    :margin-top -1.2em
    :padding 0.4em
    +rotate(90)

#search_box
  :position absolute
  :z-index 100
  :left 25%
  :top -15em
  :width 50%
  :border 3px solid $color_header
  +rounded(0px 0px 16px 16px)
  +cast_shadow(0px 2px 30px 5px grey)
  :background
    :color $site_high_tone
    :image url(diagonals-small.png)
    :repeat repeat-x repeat-y
  
  .search_form
    input[type="text"]
      :font-size 100%

    :font-size 150%
    :margin 0 auto
    :width 70%
    :margin 
      :top 1em
      :bottom 1em
    :text-align center
    :vertical-align middle
  #search_results
    :overflow-y auto
    :max-height 20em
     
    :vertical-align middle
    :margin 1em
    :padding 1em
    .craft_result
      :border-bottom 1px solid transparent
      &:hover
        :border-bottom 1px solid grey
        
      :font-size 120%
      :margin-bottom 0.2em
      .lhs
        :float left
        .name
          :font-size 110%
        .del_inf
          :color red
          :font-size 60%
          
      .location
        :float right
      .path
        :float right
        :font-size 60%
      +clearfix
      
  


#welcome, #standard_page, #instance_page, #campaigns_page, #craft_page, #craft_edit, #new_instance_page, #campaign_save_index, #subassembly_page
  @extend .grid960
  :padding
    :top 1em
    :bottom 2em
  :min-height 15em
  +cast_shadow(0px 2px 30px 5px grey)
  :background
    :color $site_high_tone
    :image url(diagonals-small.png)
    :repeat repeat-x repeat-y


.main_content
  :background-color $site_white
  :min-height 8em
  :margin-top 1em
  :padding
    :top 1em
    :bottom 2em
  +clearfix

  .css_table
    :border-bottom 1px solid red

.list_object
  :border-bottom 1px solid transparent
  @extend .plain_link
  &:hover
    :border-bottom 1px solid $site_low_tone
  +clearfix


#welcome
  #new_instance
    input[type="text"]
      :width 99%
    input[type="submit"]
      :width 50%
      :float right
  .instance_list
    @extend .grid_10, .push_1
    :margin-top 2em
    :font-size 120%
  .instance
    &:hover
      +rounded(8px)
      :background
        :color $link_back_color_hover
        :filter alpha(opacity=20)
        :opacity 0.2
    :margin-top 0.5em
    a
      +clearfix
      :width 100%
      &:hover
        :font-weight bold

    .launch_links
      :padding-top 0.4em
      :text-align center
      a
        @extend .plain_link
    .launch_notice
      :text-align center
    .shutdown_notice
      :text-align center


.inactive_install
  .launch_links
    :border-bottom 1px solid green

.active_install
  .launch_links
    :border-bottom 1px solid red

.help_for
  :display none


#new_instance_page
  input[type="text"]
    :width 99%
  input[type="submit"]
    :width 50%
    :float right


.no_campaigns_message
  :font
    :size 120%
    :weight bold
  li
    :margin-top 0.5em


#process_notifier
  :min-height 40px
  :width 10em
  :margin
    :top 1em
    :left 1em
  .ajax_loader
    :float right


#campaigns_list
  .loading
    :margin-top 3em
    :text-align center

.ajax_loader
  :margin-left  auto
  :margin-right auto
  :width 35px
  :height 35px
  :background
    :color transparent
    :image url(ajax-loader.gif)
    :repeat no-repeat

.small_ajax_loader
  :margin-left  auto
  :margin-right auto
  :width 16px
  :height 16px
  :background
    :color transparent
    :image url(ajax-loader_small.gif)
    :repeat no-repeat 

.building_icon
  img
    +rounded(16px)

.campaigns_list
  .grid_5
    :margin
      :top 0.5em
      :bottom 3em

  .campaign
    .flag_for
      :min-height 160px

    .campaign_info
      :min-height 3em
      :padding 0.2em

      .update_action
        :font-weight bold
        :padding-top 0.2em

#standard_page
  .campaign
    :margin-bottom 0.5em
    :border-bottom 1px solid $site_dark

  .instance
    :margin-bottom 0.5em
    :border-bottom 1px solid $site_dark

#campaigns_page
  .header
    :padding-left 0.5em
  .campaign_image
    :float right

  #current_project
    :margin-top 1em
    :padding-right 1em
    :font-size 120%

  #campaign_saves
    :font-size 120%
    :margin-top 1em
    :padding-right 1em
    :height 8em


  .show_del_link_container
    :position absolute
    :right 0em
    :top 12em
    :background-color $site_low_tone
    :padding 0.4em
    +rounded(16px 0px 0px 16px)

  .show_del_craft_marker
    :float left
    :border 1px solid $site_dark
    :height 1em
    :width 1em
    +rounded

  .selected_marker
    :background-color red

#subassemblies_container
  :position relative
  :display none
  .subassemblies_heading
    :position absolute
    :left 24em
    :top 3.5em
    :width 10em
    :cursor pointer

  .subassemblies
    :position absolute
    :display none
    :width 45%
    :left 23%
    :top 8em
    :background
      :color $site_white
      :image url(diagonals-small.png)
      :repeat repeat-x repeat-y
    :z-index 1000
    +cast_shadow(0px 2px 30px 2px grey)      
    :padding 2em
    :padding 
      :left 1.5em
      :right 1.5em
    +rounded(8px 8px 8px 8px)

  .subassemblies_panel_decoration
    :z-index 1001
    :position absolute
    :display none
    :top 5em
    :left 21.5em
    :background
      :color $site_white
      :image url(diagonals-small.png)
      :repeat repeat-x repeat-y

    $border_vals: 30% 30% 10% 10%/90% 90% 20% 20%
    -webkit-border-radius: $border_vals
    -moz-border-radius: $border_vals
    -ms-border-radius: $border_vals
    -o-border-radius: $border_vals
    border-radius: $border_vals      
    :height 4em
    :width 15em

  .main_link
    :text-align center 
    :font-weight bold
    :font-size 120%

#subassemblies_content  
  :max-height 35em
  :border 1px solid grey
  :overflow auto
  :background-color rgba(171, 171, 171, 0.5)
  :padding 0.5em
  :padding-top 0em


.flag_link
  @extend .plain_link

.revert_form
  :width 50%
  :margin-left  auto
  :margin-right auto

.restore_details
  :margin-top 1.5em
  :font-size 110%
  .info
    :font-size 90%

.restore_form
  :margin-top 2em
  :margin-left  auto
  :margin-right auto
  :width 18em
  form
    :width 9em
    :float left
  input[type="submit"]
    :float left
    :width 7em
    :font-size 120%


.restore_craft, .restore_subassembly
  :text-align center

.aligned
  :padding-top 0.2em

.message_errors
  :color red
  :size 80%

.message_text
  :cursor pointer
  :float left

.untracked
  :color red

#campaign_selector
  :margin-top 1em
  :max-height 30em
  :overflow-y auto
  :border
    :top 3px solid grey
    :bottom 2px solid grey
    :left 2px solid grey
    :right 2px solid grey
    
  :padding 0.5em
    
  .instance
    :padding-bottom 1em
    +clearfix

    .campaign
      :padding 0.2em
      :cursor pointer
      :width 150px
      :float left
        
      .mini-flag
        :width 128px
        :margin 0 auto
        img
          :max-width 128px
          :max-height 80px

.unselected_campaign
  .campaign
    :border 2px solid transparent
    &:hover
      :border 2px solid grey
      :background-color $site_highlight 

.selected_campaign
  $selected: #EB5F28
  .campaign
    :border 2px solid darken($selected, 20%)
    :background-color lighten($selected, 20%)
    &:hover  
      :border 2px solid darken($selected, 20%)
      :background-color $selected

.selected_sync
  $selected: #A181D6
  .campaign
    :border 2px solid darken($selected, 20%)
    :background-color lighten($selected, 20%)
    &:hover  
      :border 2px solid darken($selected, 20%)
      :background-color $selected
  
  
.dont-select
  :opacity 0.4
  .campaign
    :border 2px solid transparent
    &:hover
      :border 2px solid grey
      :background-color grey
    
.sync_target
  .mini-flag
    :float left
    :width 45px
    :margin 0 auto
    img
      :max-width 42px
      :max-height 26px
      
  .path
    :float left
  +clearfix
  
  
.parts_list
  :display none
  .part
    :font-size 80%
    :padding-left 2px
    .details
      :display none
      :padding
        :left 0.5em
        :bottom 0.2em

  .selected_part
    :border-left 2px solid blue
    :padding-left none

.stock_craft
  :border-left 2px solid blue
  $base_color: blue
  +gradient_h(rgba($base_color, 0.2), rgba($site_high_tone, 0))
  &:hover
    +gradient_h(rgba($base_color, 0.4), rgba($site_high_tone, 0.1))
    .action_links    
      :display inline

.mod_craft
  :border-left 2px solid green
  $base_color: #03610B
  +gradient_h(rgba($base_color, 0.2), rgba($site_high_tone, 0))
  &:hover
    +gradient_h(rgba($base_color, 0.4), rgba($site_high_tone, 0.1))
    .action_links    
      :display inline

.missing_parts
  .missing
    :color red
  .error
    :display inline
    :float left
    :color red
    :font-weight bold
    :padding
      :left 0.2em
      :right 0.2em

.missing
  :display inline

.error
  :display none

.deleted_craft
  :border-left 4px solid red
  $base_color: red
  +gradient_h(rgba($base_color, 0.4), rgba($site_high_tone, 0))
  &:hover
    +gradient_h(rgba($base_color, 0.6), rgba($site_high_tone, 0.1))



.craft, .subassembly
  :margin-top 0.5em
  .name
    :font-weight bold
    :float left
  .git_info
    :padding-left 1em
    :float left
    :width 4em
  .history
    :padding-left 1em
    :float left
    
  .action_links    
    :display none
    :float right
    :padding-top 1em
    :margin-right 1em
    .links
      :font-size 80%
  .sync_status
    :padding-left 6em
    .info
      :font-size 80%
  +clearfix

.subassembly
  .history
    :float right

.craft_history, .subassembly_history
  .version
    :width 3em
    :float left
    :font-weight bold
  .date
    :width 8em
    :float left
  .restore_link
    :float right
  .message
    :margin-left 3em

.craft_info, .subassembly_info
  :border-bottom 1px solid grey
  :padding
    :top 0.2em
    :bottom 0.2em

.craft_details, .subassembly_details
  :margin-top 0.5em
  +clearfix
  
  
  

#move_copy_dialog
  select
    :height 5em
    :width 90%
    :font-size 80%


#nav-box
  :position absolute
  :padding 0.5em
  :padding-left 0.9em
  :right 0em
  :top 0em
  :background-color $site_low_tone
  +rounded($vals: 0px 0px 0px 16px)

.actions
  :float right

#error_xxx
  :position relative
  :padding-top 1em
  .large_code_background
    :position absolute
    :z-index 0
    :font-size 2000%
    :top -0.1em
    :right 0em
    :color lighten($site_low_tone, 20%)

  .absolute_content
    :position relative
    :z-index 100
    :top 0
    :left 0
    :min-height 18em
    +clearfix

  .backtrace
    :font-size 80%

#campaign_save_index
  .save
    :margin-bottom 0.5em

.new_save_detected
  :color red
  :font-size 80%

.search_and_sort
  :position relative
.craft_list_search_field
  :width 15.8em

.search_reset_button
  :position absolute
  :left 16em

.craft_list_sort
  :margin-left 2em


//the thing at the bottom
