!!!
%html
  %head
  %title Jebretary
  = hidden_field_tag :rails_env, Rails.env
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

  #header
    %a{:href => root_url}
      %h1{:class => 'main_site_title'}
        Jebretary

  %body
    #content
      .clamp_holder
        .lhs_clamp
        .rhs_clamp
        .lhs_clamp_body
        .rhs_clamp_body
      =yield
  .clear
  #footer
    .left_image
    .right_image
    .footer_content
      %p Jebretary - A Persistent Git
      %p Katateochi
